.app-container {
  width: 250px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #eaeaea;
  height: 400px;
  text-align: center;
}

.app-container .header {
  background: orange;
  color: white;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}